<form method="post"
      action="/ajax/comments"
      data-remote="true"
      id="new_comment_form">
  <input type="text" name="comment" />
  <button type="submit">
    make comment
  </button>
</form>
