document.querySelector("#new_comment_form").remove();
document.querySelector("#comments").insertAdjacentHTML("beforeend", '<li class="comment"><%= @comment %></li>');
document.querySelector("#new_comment_link").style.display = 'block';
